<%= form_for(@players_list) do |f| %>
  <% if @players_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@players_list.errors.count, "error") %> prohibited this players_list from being saved:</h2>

      <ul>
      <% @players_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :group_name %><br />
    <%= f.text_field :group_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
